<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Welcome to OpenShift</title>


<link rel="stylesheet" type="text/css" href="newcss.css">

</head>
<body>

    <p> the first array </p>
    <section class="col-xs-12 col-sm-6 col-md-6">
      <div id="output"></div>
    </section
    <input type="button" id="firstBtn" value="fill" >
    <input type="button" id="secondBtn" value="clear" >
<script>

var theArray = [] ;
const elementNumber = 50 ;
const spacer = '&nbsp;&nbsp;&nbsp;' ;
const newline = '<br>' ;

function fillArray(){
    
    for ( var i = 0 ; i < elementNumber ; i++) {
        
        theArray[i] = i * i ;
        
    }
}

function stickArrayIntoDiv(){
    fillArray() ;
    
    var arrayStr = "" ;
    for ( var i = 0 ; i < elementNumber ; i++) {
        
        arrayStr = arrayStr + theArray[i] + newline ;
        
    }    
    
    document.getElementById('output').innerHTML = arrayStr ;
    
}


function clearTheDiv(){
    
    
    document.getElementById('output').innerHTML = "" ;
    
}

document.getElementById('firstBtn').addEventListener( "click", stickArrayIntoDiv );
document.getElementById('secontBtn').addEventListener( "click", clearTheDiv );

</script>

</body>
</html>
