<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>database connection</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--
        <div class="code"><h3>DB Connection Info:</h3>
            <table style='margin-left: 20px'>
                <tr><td>Type:</td><td><%= dbInfo.type %></td></tr>
                <tr><td>URL:</td><td><%= dbInfo.url %></td></tr>
            </table>
        </div>
        -->
        <section class="col-xs-12 col-sm-6 col-md-6">
            <h2>Request information</h2>
            <p>Page view count:
            <% if (pageCountMessage) { %>
                <span class="code" id="count-value"><%=pageCountMessage%></span>
                </p>
                    <div class="code"><h3>DB Connection Info:</h3>
                      <table style='margin-left: 20px'>
                          <tr><td>Type:</td><td><%= dbInfo.type %></td></tr>
                          <tr><td>URL:</td><td><%= dbInfo.url %></td></tr>
                      </table>
                    </div>
            <% } else { %>
                <span class="code" id="count-value">No database configured</span>
                </p>
            <%} %>
          </section>            
    </body>
</html>
